/* Wesite Styles */
* {
    /* font-size: 100%; */
}

 body {
    background-color: orange;
    color: forestgreen;
    font-family: 'Merriweather', serif;
    font-size: 14px
}
h1 {
      color: darkblue;
      font-size: 36px
    }

 h2 {
   color: darkgreen;
   font-size: 24px
 }
h3 {
  color: darkgreen;
  font-size: 18px
}
p {
  color: darkblue;
}

section {
  color: royalblue;
}

footer {
  color: pink;
}
