/* about web style */
* {
   font-size: 100%;
   margin: 0;
   line-height: 2;
   box-sizing: border-box;


body {
  text-align: center;
  color:black; font-family:"Merriweather", serif;
  font-size: 15px;
  background-image: url("images/school.png")
  background-repeat: repeat;
}
