/* Wesite Styles */
* {
    /* font-size: 100%; */
}

 body {
    background-color: orange;
    color: forestgreen;
    font-family: 'Merriweather', serif;
    font-size: 14px
}
h1 {
      color: darkblue;
    }

 h2 {
   color: darkgreen;
 }

p {
  color: darkblue;
}

section {
  color: royalblue;
}

footer {
  color: pink;
}
