  body {
    background-color: white;
    font-family: helvetica;
    font-size: 14px;
    background-image: url("images/school.png");
    background-repeat: repeat;
   }
   ​
   h1 {
     color: black;
     font-size: 48px;
   }
   ​
   .banner {
     height: 250px;
     background-image: url("images/sunset.jpg");
     background-size: cover;
     background-position: center;
   }
   ​
  .container {
     max-width: 14
    00px;
     margin: 0 auto;
     background-color: white;
     background-image: url("images/sunset.png");
     background-repeat: repeat;
    /* background-size: cover; */
     background-position: center;
     display: grid;
     grid-template-columns: 200px 200px 200px 200px;
     align-items: start;
     justify-content: space-between;
   }
   ​
   div {
     padding: 100px;
     max-width: 1400px;
     border: solid black 1px;
     background-image: url("images/school.png");
     text-align: center;
   }
   ​
   header {
     text-align: center;
   }
   ​
   .menu {
     max-width: 1400px;
